@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100dvh;
  margin: 0;
  padding: 0;
}

/* global theme */
/* neutral */
html,
body {
  @apply bg-neutral;
}

.card {
  @apply bg-neutral shadow shadow-[#D1D1F5] rounded-lg overflow-hidden;
}

/* primary */
h1,
h2 {
  @apply text-primary;
}

footer {
  @apply bg-primary;
}

.btn-primary {
  @apply bg-primary;
}

/* visual: primary color of charts and graphs */
h3,
h4 {
  @apply text-lg font-bold text-visual;
}
.clickable {
  @apply cursor-pointer text-visual;
}

.icon {
  @apply text-visual;
}

.hoverable {
  @apply hover:text-visual;
}
button.hoverable {
  @apply hover:bg-visual;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  @apply border border-solid border-body focus:border-visual;
}

/* body */
p {
  @apply text-body;
}

/* notice */
p.highlight {
  @apply text-primary;
}
div.highlight,
button.highlight {
  @apply bg-notice;
}

/* map */
.tw-map {
  @apply w-full h-full bg-visual;
}

/* adopted-chart */
.adopted-chart {
  @apply w-full h-full;
}

/* .tw-map .county {
  @apply cursor-pointer;
  fill: #ebf0e4;
  stroke: gray;
  stroke-width: 0.1px;
}

.tw-map .county:hover {
  fill: lightgray;
} */
